@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: var(--light-100);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

* {
  @apply outline-ring/50;
}

body {
  @apply bg-black text-white;
}

p {
  @apply text-light-100;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply text-light-100;
}

.btn-call {
  @apply inline-block px-7 py-3 font-bold text-sm leading-5 text-white transition-colors duration-150 bg-success-100 border border-transparent rounded-full shadow-sm focus:outline-none focus:shadow-2xl active:bg-success-200 hover:bg-success-200 min-w-28 cursor-pointer items-center justify-center overflow-visible;
}

.btn-call .span {
  @apply bg-success-100 h-[85%] w-[65%];
}

.btn-disconnect {
  @apply inline-block px-7 py-3 text-sm font-bold leading-5 text-white transition-colors duration-150 bg-destructive-100 border border-transparent rounded-full shadow-sm focus:outline-none focus:shadow-2xl active:bg-destructive-200 hover:bg-destructive-200 min-w-28;
}

.btn-upload {
  @apply flex min-h-14 w-full items-center justify-center gap-1.5 rounded-md bg-dark-200 px-5 border border-input overflow-hidden;
}

.btn-primary {
  @apply w-fit bg-primary-200 text-dark-100 hover:bg-primary-200/80 rounded-full font-bold px-5 cursor-pointer min-h-10;
}

.btn-secondary {
  @apply w-fit bg-dark-200 text-primary-200 hover:bg-dark-200/80 rounded-full font-bold px-5 cursor-pointer min-h-10;
}

.card-border {
  @apply border-gradient p-0.5 rounded-2xl w-fit;
}

.card {
  @apply dark-gradient rounded-2xl min-h-full;
}

.form {
  @apply w-full;
}

.form .label {
  @apply text-light-100 font-normal;
}

.form .input {
  @apply bg-dark-200 rounded-full min-h-12 px-5 placeholder:text-light-100;
}

.form .btn {
  @apply w-full;
}

.dark-gradient {
  @apply bg-gradient-to-b from-[#1A1C20] to-[#08090D];
}

.border-gradient {
  @apply bg-gradient-to-b from-[#4B4D4F] to-[#4B4D4F33];
}

.pattern {
  @apply bg-[url('/pattern.png')] bg-top bg-no-repeat;
}

.blue-gradient-dark {
  @apply bg-gradient-to-b from-[#171532] to-[#08090D];
}

.blue-gradient {
  @apply bg-gradient-to-l from-[#FFFFFF] to-[#CAC5FE];
}

.flex-center {
  @apply flex items-center justify-center;
}

h3 {
  @apply text-center text-primary-100 mt-5;
}

.call-view {
  @apply flex flex-col sm:flex-row items-start justify-between gap-8 w-full px-6 py-10;
}

.card-interviewer {
  @apply flex flex-col justify-center items-center gap-4 w-full sm:w-1/2 h-[420px]
    bg-gradient-to-tr from-[#0f172a] via-[#1e293b] to-[#0f172a]
    border border-blue-500/20 rounded-2xl shadow-lg hover:shadow-2xl transition-all duration-300;
}

.avatar {
  @apply size-[120px] rounded-full border-4 border-cyan-500 shadow-md flex items-center justify-center overflow-hidden relative;
}

.card-border {
  @apply hidden sm:flex sm:w-1/2 h-[420px] p-1 bg-gradient-to-br from-purple-600 via-blue-500 to-indigo-500
    rounded-2xl shadow-xl;
}

.card-content {
  @apply flex flex-col justify-center items-center gap-4 h-full w-full bg-[#1e293b]
    text-white rounded-xl p-6;
}


.animate-speak {
  @apply absolute inline-flex w-[85%] h-[85%] animate-ping rounded-full bg-cyan-400/60 opacity-60;
}

.transcript-border {
  @apply bg-gradient-to-br from-cyan-600 via-blue-500 to-indigo-600 p-0.5 rounded-2xl w-full shadow-lg;
}

.transcript {
  @apply bg-[#1e293b] rounded-2xl min-h-14 px-6 py-4 flex items-center justify-center transition-all duration-300;

  p {
    @apply text-base sm:text-lg text-center text-white leading-relaxed;
  }
}


.section-feedback {
  @apply flex flex-col gap-8 max-w-5xl mx-auto max-sm:px-4 text-lg leading-7;
}

.buttons {
  @apply flex w-full justify-evenly gap-4 max-sm:flex-col max-sm:items-center;
}

.auth-layout {
  @apply flex items-center justify-center mx-auto max-w-7xl min-h-screen max-sm:px-4 max-sm:py-8;
}

.root-layout {
  @apply flex mx-auto max-w-7xl flex-col gap-12 my-12 px-16 max-sm:px-4 max-sm:my-8;
}

.card-cta {
  @apply flex flex-row blue-gradient-dark rounded-3xl px-16 py-6 items-center justify-between max-sm:px-4;
}

.interviews-section {
  @apply flex flex-wrap gap-4 max-lg:flex-col w-full items-stretch;
}

.interview-text {
  @apply text-lg text-center text-white;
}

.progress {
  @apply h-1.5 text-[5px] font-bold bg-primary-200 rounded-full flex-center;
}

.tech-tooltip {
  @apply absolute bottom-full mb-1 hidden group-hover:flex px-2 py-1 text-xs text-white bg-gray-700 rounded-md shadow-md;
}

.card-interview {
  @apply dark-gradient rounded-2xl min-h-full flex flex-col p-6 relative overflow-hidden gap-10 justify-between;
}

.badge-text {
  @apply text-sm font-semibold capitalize;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}